extends layout

block content
	.main-content.brand
		.content
			.brand-page-head
				span
					|	Построение высоких марок
					br 
					|	качества

			.column-left
				span.title-red Бренды
				.brand-menu
					ul.lvl1
						li 
							span Глобальные бренды
							ul
								li 
									a(href="#") Corona
								li 
									a(href="#") Stella Artoi
						li 
							span Международные бренды
							ul
								li 
									a(href="#") BUD
								li 
									a(href="#") Lowenbrau
								li 
									a(href="#") Hoegaarden
								li 
									a(href="#") Staropramen
								li 
									a(href="#") Leffe
						li 
							span Национальные бренды
							ul
								li 
									a(href="#") Клинское
								li 
									a(href="#") Сибирская корона
								li 
									a(href="#") Толстяк
								li 
									a(href="#") Bagbier
								li 
									a(href="#") Чернігівське

			.column-right
				ul.breadcrumbs
					li
						a(href="#") Главная
					li
						a(href="#") Бренды
					li
						a(href="#") Национальные бренды
					li
						a(href="#")  Сибирская
					li
						span Корона
				h2 Сибирская корона
				
				.block-info
					p.title Сибирская Корона отождествляет себя с гордостью человека за свою страну, природу, национальный характер, — за все то, что окружает его каждый день.
					img(src="../images/korona-logo.jpg")
				.block-product
					img(src="../images/korona-product.jpg")

				.clear-fix

				p.title О бренде
				p Флагманом линейки бренда является «Сибирская Корона. Классическое» - неизменный сорт, существующий с 1996 года. Пиво «Сибирская Корона. Классическое» обладает богатым многогранным вкусом, которым неизменно хочется наслаждаться. Золотой цвет, плотная стойкая пена, классический аромат и мягкое послевкусие подарят незабываемое удовольствие всем любителям пива.
				p.title История
				p История бренда начинается в Омске, где в 1996 году в честь юбилея города был создан местный сорт пива — «Сибирская корона». Новый бренд быстро стал популярным и в 2001 году вышел на национальный уровень.
				p В последующие годы состоялись масштабные рекламные кампании с использованием запоминающихся образов из жизни России рубежа XIX-XX вв. С 2010 года бренд отождествляет себя с гордостью человека за свою страну, природу, национальный характер, — за все то, что окружает его каждый день.
				p.title Интересные факты
				ol
					li
						span В рецептуру варианта Сибирской Короны Классическое входит только солод, хмель и вода. 
					li
						span Сибирская Корона Безалкогольное варится по особой уникальной технологии, благодаря которой сохраняется всё богатство вкуса и аромата классической рецептуры при минимальном содержании алкоголя. 
					li
						span Сибирская Корона Три Хмеля варится из трех сортов хмеля из трех стран: Германии, Великобритании, США.

				.product-roll
					a.product(href="#class")
						img(src="../images/korona-class.jpg")
						p Сибирская корона классическое
					a.product(href="#lime")
						img(src="../images/korona-lime.jpg")
						p Сибирская корона лаймъ
					a.product(href="#senseless")
						img(src="../images/korona-senseless.jpg" style="margin-top: 50px;")
						p Сибирская корона безалкогольное
					a.product(href="#hero")
						img(src="../images/korona-hero.jpg" style="margin-top: 50px;")
						p Сибирская корона оригинальное

					div.about-product#class
						h3 Сибирская корона классическое
						img(src="../images/korona-class.jpg")
						<p><strong>Различные сорта «Сибирской короны»</strong> производятся на заводах САН ИнБЕВа в Ангарске, Волжском, Иваново, Клину, Новочебоксарске, Омске, Перми и Саранске.</p>
						<p><strong>Пиво упаковывается и поставляется</strong> в стеклянных бутылках и алюминиевых банках объёмом 0,5 литра, в ПЭТФ объёмом 1 и 1,5 литра, а также в кегах объёмом 30 и 50 литров.</p>
						<p><strong>Cветлое пиво</strong>, плотность — 12 %, алкоголь — 5,0 %, приготовлено из высококачественных сортов ячменного солода и особых рас пивоваренных дрожжей;</p>
						<p><strong>Различные сорта «Сибирской короны»</strong> производятся на заводах САН ИнБЕВа в Ангарске, Волжском, Иваново, Клину, Новочебоксарске, Омске, Перми и Саранске.</p>
						<p><strong>Пиво упаковывается и поставляется</strong> в стеклянных бутылках и алюминиевых банках объёмом 0,5 литра, в ПЭТФ объёмом 1 и 1,5 литра, а также в кегах объёмом 30 и 50 литров.</p>
						<p><strong>Различные сорта «Сибирской короны»</strong> производятся на заводах САН ИнБЕВа в Ангарске, Волжском, Иваново, Клину, Новочебоксарске, Омске, Перми и Саранске.</p>
						<p><strong>Пиво упаковывается и поставляется</strong> в стеклянных бутылках и алюминиевых банках объёмом 0,5 литра, в ПЭТФ объёмом 1 и 1,5 литра, а также в кегах объёмом 30 и 50 литров.</p>
						<p><strong>Cветлое пиво</strong>, плотность — 12 %, алкоголь — 5,0 %, приготовлено из высококачественных сортов ячменного солода и особых рас пивоваренных дрожжей;</p>
						<p><strong>Cветлое пиво</strong>, плотность — 12 %, алкоголь — 5,0 %, приготовлено из высококачественных сортов ячменного солода и особых рас пивоваренных дрожжей;</p>
					div.about-product#lime
						h3 Сибирская корона Лаймъ
						img(src="../images/korona-lime.jpg")
						<p><strong>Различные сорта «Сибирской короны»</strong> производятся на заводах САН ИнБЕВа в Ангарске, Волжском, Иваново, Клину, Новочебоксарске, Омске, Перми и Саранске.</p>
						<p><strong>Пиво упаковывается и поставляется</strong> в стеклянных бутылках и алюминиевых банках объёмом 0,5 литра, в ПЭТФ объёмом 1 и 1,5 литра, а также в кегах объёмом 30 и 50 литров.</p>
						<p><strong>Cветлое пиво</strong>, плотность — 12 %, алкоголь — 5,0 %, приготовлено из высококачественных сортов ячменного солода и особых рас пивоваренных дрожжей;</p>
					div.about-product#senseless
						h3 Сибирская корона безалкогольное
						img(src="../images/korona-senseless.jpg")
						<p><strong>Различные сорта «Сибирской короны»</strong> производятся на заводах САН ИнБЕВа в Ангарске, Волжском, Иваново, Клину, Новочебоксарске, Омске, Перми и Саранске.</p>
						<p><strong>Пиво упаковывается и поставляется</strong> в стеклянных бутылках и алюминиевых банках объёмом 0,5 литра, в ПЭТФ объёмом 1 и 1,5 литра, а также в кегах объёмом 30 и 50 литров.</p>
						<p><strong>Cветлое пиво</strong>, плотность — 12 %, алкоголь — 5,0 %, приготовлено из высококачественных сортов ячменного солода и особых рас пивоваренных дрожжей;</p>
					div.about-product#hero
						h3 Сибирская корона оригинальное
						img(src="../images/korona-hero.jpg")
						<p><strong>Различные сорта «Сибирской короны»</strong> производятся на заводах САН ИнБЕВа в Ангарске, Волжском, Иваново, Клину, Новочебоксарске, Омске, Перми и Саранске.</p>
						<p><strong>Пиво упаковывается и поставляется</strong> в стеклянных бутылках и алюминиевых банках объёмом 0,5 литра, в ПЭТФ объёмом 1 и 1,5 литра, а также в кегах объёмом 30 и 50 литров.</p>
						<p><strong>Cветлое пиво</strong>, плотность — 12 %, алкоголь — 5,0 %, приготовлено из высококачественных сортов ячменного солода и особых рас пивоваренных дрожжей;</p>