extends layout

block content
	.main-content
		.content
			.slider.fotorama(data-nav="dots" data-arrows="false" data-click="false" data-swipe="false" data-width="1140" data-height="350" data-autoplay="true" data-loop="true")
				.slide-item
					.img-holder
						img(src="../images/slide-1.png")
					.content-holder
						h3 Мировой лидер в пивоварении
						p
							|	2012-ый год компания «САН ИнБев» завершила с ростом
							br
							|	показателя EBITDA, который по итогам года составил 257
							br
							|	миллионов долларов в Зоне Центральной и Восточной
							br
							|	Европы, что на 19% превысило показатель предыдущего года.
						a(href="#") Узнать больше
				.slide-item
					.img-holder
						img(src="../images/slide-1.png")
					.content-holder
						h3 2Мировой лидер в пивоварении
						p
							|	2012-ый год компания «САН ИнБев» завершила с ростом
							br
							|	показателя EBITDA, который по итогам года составил 257
							br
							|	миллионов долларов в Зоне Центральной и Восточной
							br
							|	Европы, что на 19% превысило показатель предыдущего года.
						a(href="#") Узнать больше
				.slide-item
					.img-holder
						img(src="../images/slide-1.png")
					.content-holder
						h3 3Мировой лидер в пивоварении
						p
							|	2012-ый год компания «САН ИнБев» завершила с ростом
							br
							|	показателя EBITDA, который по итогам года составил 257
							br
							|	миллионов долларов в Зоне Центральной и Восточной
							br
							|	Европы, что на 19% превысило показатель предыдущего года.
						a(href="#") Узнать больше

		.content
			.row-head
				h3 О компании
			.blocks-row
				.block.red
					img(src="../images/block-company.jpg")
					h4 Наша компания
					p
						|	Компания работает на
						br
						|	пивоваренном рынке
						br
						|	России 15 лет и занимает
						br
						|	одну из ведущих позиций.
				.block-big.grey
					h4 Философия
					p
						|	Компания работает на пивоваренном рынке России 15 
						br
						|	лет и занимает одну из ведущих позиций.
					img(src="../images/block-philosophy.jpg")
				.block.orange
					img(src="../images/block-contacts.jpg")
					h4 Контакты
					p
						|	На российских
						br
						|	предприятиях «САН
						br
						|	ИнБев» работает около
						br
						|	5000 человек.
				.block.grey
					img(src="../images/block-senior.jpg")
					h4 Руководство компании
					p
						|	На российских
						br
						|	предприятиях «САН
						br
						|	ИнБев» работает около
						br
						|	5000 человек.

		.content
			.row-head
				h3.grey Бренды

			.brands
				.brand
					img(src="../images/brand-1.jpg")
					h4 Глобальные
					p Ведущий пивной бренд в мире и единственный, который входит в сотню лучших мировых брендов.
				.brand
					img(src="../images/brand-2.jpg")
					h4 Международные
					p Ведущий пивной бренд в мире и единственный, который входит в сотню лучших мировых брендов.
				.brand
					img(src="../images/brand-3.jpg")
					h4 Народные
					p Ведущий пивной бренд в мире и единственный, который входит в сотню лучших мировых брендов.

		.content
			.row-head
				h3 Социальная ответственность
			.blocks-row
				.block.red
					img(src="../images/block-druids.jpg")
					h4 Наша компания
					p
						|	Компания работает на
						br
						|	пивоваренном рынке
						br
						|	России 15 лет и занимает
						br
						|	одну из ведущих позиций.
				.block-big.grey
					h4 Философия
					p
						|	Компания работает на пивоваренном рынке России 15 
						br
						|	лет и занимает одну из ведущих позиций.
					img(src="../images/block-humans.jpg")
				.block.orange
					img(src="../images/block-bar.jpg")
					h4 Контакты
					p
						|	На российских
						br
						|	предприятиях «САН
						br
						|	ИнБев» работает около
						br
						|	5000 человек.
				.block.grey
					img(src="../images/block-hails.jpg")
					h4 Руководство компании
					p
						|	На российских
						br
						|	предприятиях «САН
						br
						|	ИнБев» работает около
						br
						|	5000 человек.

		.content
			.row-head.orange
				h3.orange Карьера
			.blocks-row
				.block.red
					img(src="../images/block-sciense.jpg")
					h4 Наша компания
					p
						|	Компания работает на
						br
						|	пивоваренном рынке
						br
						|	России 15 лет и занимает
						br
						|	одну из ведущих позиций.
				.block-big.grey
					h4 Философия
					p
						|	Компания работает на пивоваренном рынке России 15 
						br
						|	лет и занимает одну из ведущих позиций.
					img(src="../images/block-no.jpg")
				.block.orange
					img(src="../images/block-handshaking.jpg")
					h4 Контакты
					p
						|	На российских
						br
						|	предприятиях «САН
						br
						|	ИнБев» работает около
						br
						|	5000 человек.
				.block.grey
					img(src="../images/block-momo.jpg")
					h4 Руководство компании
					p
						|	На российских
						br
						|	предприятиях «САН
						br
						|	ИнБев» работает около
						br
						|	5000 человек.