extends layout

block content
	.main-content.responsibility
		.content
			.responsibility-page-head
				span
					|	Построение высоких марок
					br 
					|	качества
				h2 Социальная ответственность
				.fix-2
				.fix

			.column-left
				.brand-menu
					ul.lvl1.responsibility
						li 
							span
								a(href="/") Ангарск
						li 
							span 
								a(href="/") Волжский
						li 
							span 
								a(href="/") Иваново
						li 
							span 
								a(href="/") Клин
						li 
							span 
								a(href="/") Саранск
						li 
							span 
								a(href="/") Омск
						li 
							span 
								a(href="/") Пермь
						li 
							span 
								a(href="/") Раскрытие информации

			.column-right
				ul.breadcrumbs
					li
						a(href="#") Главная
					li
						a(href="#") Бренды
					li
						a(href="#") Национальные бренды
					li
						a(href="#")  Сибирская
					li
						span Корона

				h2 Пивоварни там, где делают лучшее пиво
				p «САН ИнБев» принадлежат современные пивоваренные заводы в семи российских городах.

				section.map-container.js-admin-map
						.map-block.js-map-block