extends layout

block content
	.main-content.responsibility
		.content
			.responsibility-page-head
				span
					|	Построение высоких марок
					br 
					|	качества
				h2 Социальная ответственность
				.fix-2
				.fix

			.column-left
				.brand-menu
					ul
						li 
							span 
								a(href="/") Раскрытие информации

			.column-right
				ul.breadcrumbs
					li
						a(href="#") Главная
					li
						a(href="#") Бренды
					li
						a(href="#") Национальные бренды
					li
						a(href="#")  Сибирская
					li
						span Корона

				h2 Пивоварни там, где делают лучшее пиво
				p «САН ИнБев» принадлежат современные пивоваренные заводы в семи российских городах.

				p(style="font-size: 30px; color: red;") КАРТА В АДМИНКУ
				section.map-container.js-admin-map
						.map-block.js-map-block

				p(style="font-size: 30px; color: red;") КАРТА НА СТРАНИЦУ
				section.map-container.js-client-map
						.map-block.js-map-block
	script.
		var plant = [
				{
					'id':'01',
					'city': 'Ангарск',
					'name': 'test 1',
					'post_code': '343434',
					'adress': 'test-cuisine-1',
					'phone': '8(765) 432-10-00',
					'left': 200,
					'top': 200
		
				},
				{
					'id':'02',
					'city': 'Волжский',
					'name': 'test 1',
					'post_code': '343434',
					'adress': 'test-cuisine-1',
					'phone': '8(765) 432-10-00',
					'left': 200,
					'top': 215

				},
				{
					'id':'03',
					'city': 'Иваново',
					'name': 'test 1',
					'post_code': '343434',
					'adress': 'test-cuisine-1',
					'phone': '8(765) 432-10-00',
					'left': 200,
					'top': 250

				},
				{
					'id':'04',
					'city': 'Клин',
					'name': 'test 1',
					'post_code': '343434',
					'adress': 'test-cuisine-1',
					'phone': '8(765) 432-10-00',
					'left': 200,
					'top': 290

				},
				{
					'id':'05',
					'city': 'Саранск',
					'name': 'test 1',
					'post_code': '343434',
					'adress': 'test-cuisine-1',
					'phone': '8(765) 432-10-00',
					'left': 200,
					'top': 340

				},
				{
					'id':'06',
					'city': 'Омск',
					'name': 'test 1',
					'post_code': '343434',
					'adress': 'test-cuisine-1',
					'phone': '8(765) 432-10-00',
					'left': 200,
					'top': 50

				},
				{
					'id':'07',
					'city': 'Пермь',
					'name': 'test 1',
					'post_code': '343434',
					'adress': 'test-cuisine-1',
					'phone': '8(765) 432-10-00',
					'left': 200,
					'top': 100

				}
			]