extends layout

block content
	.main-content.responsibility
		.content
			.responsibility-page-head
				span
					|	Построение высоких марок
					br 
					|	качества
				h2 Социальная ответственность
				.fix-2
				.fix

			.column-left
				.brand-menu
					ul.lvl1.responsibility
						li 
							span
								a(href="/") Ответсвеннное потребление
						li 
							span 
								a(href="/") Экология
						li 
							span 
								a(href="/") Общество
						li 
							span 
								a(href="/") Этические закупки
						li 
							span 
								a(href="/") Контакты

			.column-right
				ul.breadcrumbs
					li
						a(href="#") Главная
					li
						a(href="#") Бренды
					li
						a(href="#") Национальные бренды
					li
						a(href="#")  Сибирская
					li
						span Корона
				h2 Быть лучшей пивоваренной компанией, делая мир лучше!
				
				p.title Задача компании «САН ИнБев» – построить компанию с богатым наследием, которым можно гордиться. 

				p Для людей, которые работают в компании. Для будущих поколений и общества. И самое главное – для потребителей, которые будут гордиться тем, что выбрали именно продукт «САН ИнБев» так же, как сотрудники компании гордятся тем, что создали его.

				p Компания «САН ИнБев» стремится сделать мир лучше, реализуя проекты по корпоративной социальной ответственности по таким направлениям:

				.blocks-row
					.block.grey
						img(src="../images/block-contacts.jpg")
						h4 Ответсвеннное потребление
						p
							|	На российских
							br
							|	предприятиях «САН
							br
							|	ИнБев» работает около
							br
							|	5000 человек.
					.block.orange
						img(src="../images/block-senior.jpg")
						h4 Экология
						p
							|	На российских
							br
							|	предприятиях «САН
							br
							|	ИнБев» работает около
							br
							|	5000 человек.
					.block.red.last-in-row
						img(src="../images/block-handshake2.jpg")
						h4 Общество
						p
							|	На российских
							br
							|	предприятиях «САН
							br
							|	ИнБев» работает около
							br
							|	5000 человек.
				.blocks-row
					.block.grey
						img(src="../images/block-bar.jpg")
						h4 Этические закупки
						p
							|	На российских
							br
							|	предприятиях «САН
							br
							|	ИнБев» работает около
							br
							|	5000 человек.
					.block.orange
						img(src="../images/block-company.jpg")
						h4 Наша компания
						p
							|	Компания работает на
							br
							|	пивоваренном рынке
							br
							|	России 15 лет и занимает
							br
							|	одну из ведущих позиций.