footer
	.content
		ul.left
			li
				a 8 800 200 74  86 – телефон горячей линии
			li
				a(href="#") Контакты
			li
				a(href="#") Карта сайта
			li
				a(href="mailto:hotline@inbev.com") hotline@inbev.com
		p.right.
			© 2015 «SUN InBev»