header
	.header
		a.logo(href="/")
		
		ul.main-menu
			li
				a(href="/") О компании
			li
				a(href="/brand.html") Бренды
			li
				a(href="/") Пивоварение
			li
				a(href="/") Пресс-центр
			li
				a(href="/") Производство
			li
				a(href="/") Социальная ответственность
			li
				a(href="/") Карьера
			li
				a(href="/") Культура потребления пива
			li
				a(href="/") Раскрытие информации
		
		.search-field
			form(name="search")
				input(for="search" placeholder="Поиск по сайту")